.app {
  background-color: rgb(250, 235, 215);
  min-height: 100vh;
  padding-top: 3em;
}

.heading {
  text-align: center;
  margin-top: 0;
}

.game {
  display: flex;
  width: 85%;
  margin: 3em auto;
}

.game-board {
  display: flex;
  justify-content: center;
  width: 75%;
}

.board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
}

.square {
  display: inline-grid;
}

.square-btn {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: 1px solid #555;
  border-collapse: collapse;
  line-height: 60px;
  font-size: 60px;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.form {
  font-size: 22px;
}

.form-field {
  margin: 10px 0;
}

.form input[type='radio'] {
  width: 16px;
  height: 16px;
}

.intro-text {
  font-size: 22px;
}

.status {
  font-size: 32px;
  color: rgb(233, 154, 52);
  margin-bottom: 1em;
  font-weight: bold;
}

.action-btn-group {
  display: flex;
  column-gap: 20px;
}

.action-btn-group button {
  width: 140px;
  height: 140px;
  border: none;
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
}

.action-btn-group button:first-of-type {
  background-color: rgb(30, 103, 212);
}

.action-btn-group button:last-of-type {
  background-color: rgb(94, 114, 22);
}

.scoretable {
  text-align: center;
}

table {
  font-size: 26px;
  margin: 15px 0 20px;
}

th {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  width: 80px;
}

td {
  text-align: center;
}

.scoretable button, 
.btn {
  background-color: dimgrey;
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 18px;
  color:#fff;
}

.btn {
  margin-top: 10px;
}

.active {
  background-color: red;
  color: #fff;
  line-height: 80px;
  font-size: 80px;
}

@media screen and (max-width: 1024px) {
  .game {
    width: 95%;
  }

  .game-board {
    width: 65%;
  }

  .form {
    text-align: center;
  }
}

@media screen and (max-width: 986px) {
  .game {
    width: 100%;
  }

  .board {
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
  }

  .square-btn {
    width: 120px;
    height: 120px
  }
}

@media screen and (max-width: 768px) {
  .game {
    flex-direction: column-reverse;
    row-gap: 30px;
    margin: 1.5em auto;
  }

  .game-board,
  .game-info {
    width: 90%;
    margin: 0 auto 15px;
  }
}

@media screen and (max-width: 450px) {
  .app {
    padding-top: 2em;
  }

  .game {
    width: 90%;
    margin-top: 0;
  }

  .board {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
  }

  .square-btn {
    width: 100px;
    height: 100px
  }

  .action-btn-group button {
    width: 100px;
    height: 100px;
    font-size: 18px;
  }
}